:root {
  --color-green: #41be62;
  --color-dark: #010101;
  --color-grey: #4c4c4c;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
svg,
video,
picture {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* reset css end */

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* css reset end */

.navbar-dark .navbar-nav .nav-link {
  color: #fff; /* White text color for nav links */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--color-green);
  border-bottom: 2px solid var(--color-green);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--color-green);
  border-bottom: 2px solid var(--color-green);
}

/* Dropdown menu custom styles */
.dropdown-menu {
  background-color: var(--color-dark);
}

.dropdown-item {
  color: #fff;
  font-weight: bold;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--color-green);
  background-color: transparent; /* Optional: change background on hover/focus */
}

/* If you want to change the toggler icon color */
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.subscribe-section {
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.link {
  font-size: 1rem;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.bg-dark-900 {
  background-color: var(--color-dark);
}

.btn {
  border-radius: 50px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1rem;
}

.btn-success {
  background-color: var(--color-green);
  color: #fff;
  border: none;
}

.btn-success:hover {
  background-color: #3a9e58;
}

.btn-outline-light {
  border: 2px solid #fff;
}

section {
  padding: 80px 0;
}

.lead {
  font-size: 1rem;
}

.sns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-wrapper .sns-link {
  width: 30px;
  height: 30px;
  background: var(--color-grey);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

/* common end */

header .nav-link {
  color: #fff;
  font-size: 1rem;
  margin-right: 20px;
  font-weight: bold;
}

.hero-section .top-title {
  margin-bottom: 50px;
}

.hero-section .lead {
  margin-bottom: 50px;
}

.hero-section .btn-wrapper .btn {
  margin-right: 40px;
}

.child-section .lead {
  margin-bottom: 80px;
}

.show-host .card-body {
  padding: 40px 20px;
  text-align: center;
  background: var(--color-dark);
}

.show-host img {
  object-fit: cover;
}

.show-host .card-wrapper {
  display: flex;
  flex-direction: column;
}

.image-section .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-section .image-item {
  padding: 0;
}

.image-section .image-item img {
  height: 100%;
  object-fit: cover;
}

.our-shows .carousel-inner .card {
  border-radius: 5px;
}

.our-shows .carousel-inner .card-body {
  background: var(--color-dark);
  color: #fff;
  padding: 40px 20px;
}

.our-shows .carousel-inner .card-title {
  font-size: 1rem;
  font-weight: bold;
}

.our-shows .carousel-inner .card-user-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.our-shows .carousel-inner .card-user-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.our-shows .carousel-inner .card-user-wrapper .card-user-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.our-shows .carousel-inner .card-user-wrapper span {
  font-size: 0.7rem;
  font-weight: 100;
  margin-bottom: 10px;
  display: block;
}

.subscribe-section {
  height: 500px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.subscribe-section .container {
  z-index: 1;
}

.subscribe-section .subscribe-form {
  margin-top: 60px !important;
  max-width: 700px;
  margin: 0 auto;
}

.subscribe-section .subscribe-form input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.episode-section .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark);
  color: #fff;
  padding: 10px 40px;
}

.episode-section .card .img-wrapper {
  width: 25%;
}

.episode-section .card .card-body {
  width: 70%;
  flex: unset;
}

.episode-section .card .card-body .card-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.episode-section .card .card-body .card-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.episode-section .card .card-body .card-info span {
  font-weight: 100;
  font-size: 0.7rem;
  display: block;
  margin-right: 5px;
}

.episode-section .card .card-body .card-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.episode-section .card .card-body .card-title {
  margin-bottom: 10px;
  font-weight: bold;
}

footer {
  padding: 80px 0;
}

footer .item {
  padding: 0 20px;
}

footer .logo {
  width: 150px;
  margin-bottom: 50px;
}

footer h5 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
}

footer ul li {
  margin-bottom: 15px;
}

footer .explain-content .sns-wrapper {
  margin-top: 30px;
  justify-content: flex-start;
}

footer .explain-content .sns-wrapper .sns-link {
  background-color: var(--color-green);
  margin-right: 15px;
}

footer .footer-episode-list li span {
  font-weight: 100;
  font-size: 0.7rem;
  display: block;
}

footer .footer-episode {
  color: var(--color-green);
  font-size: 1rem;
}

footer .page-links .img-wrapper {
  width: 15px;
  margin-right: 10px;
}

footer .page-links li {
  display: flex;
  align-items: center;
}

@media (max-width: 515px) {
  .hero-section .btn-wrapper .btn {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .d-sm-block {
    display: block !important;
  }

  .episode-section .card {
    flex-direction: column;
    padding: 30px 15px;
  }

  .episode-section .card .img-wrapper {
    width: 100%;
  }

  .episode-section .card .card-body {
    width: 100%;
  }

  .episode-section .card .card-body .card-info {
    flex-wrap: wrap;
  }

  .image-section {
    padding: 0;
  }

  .image-section .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .container .row > div {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .carousel-inner .carousel-item .col-md-3 {
    width: 100%;
  }
}

/* carousel css */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  .carousel-inner .carousel-item .col-md-3 {
    width: 24%;
    margin-right: 1%;
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
