* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
    'hover'
    'disabled';
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s;
}
.hoverMe:hover {
  background-color: palevioletred;
} */

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.box,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid #333;
  transition: all 0.5s ease;
}

.shrink-box:hover {
  transform: scale(0.8);
}

.grow-box:hover {
  transform: scale(1.2);
}

.card {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
