.experience {
  margin: 80px 0;
}

.experience-section {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.experience-article {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.experience-job-content img {
  max-width: 24px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.experience-container {
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: aliceblue;
  padding: 10px;
}

h2,
h3 {
  color: #333;
}

.experience-job-text {
  font-size: 14px;
}

body {
  margin: 0;
}

.contact {
  width: 360px;
}

.links {
  display: flex;
}

.links li {
  width: 100%;
  padding-right: 20px;
  list-style: none;
  padding-left: 0;
}

.logo-wrapper {
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}

.contact-btn {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #02b4c0;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.main-header {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  margin: 0;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.header-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.introduction {
  background-image: url('../img/takuma.png');
  background-position: center;
  margin-top: 100px;
}

.introduction-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  display: flex;
}

.introduction-content {
  width: 50%;
}

.introduction-title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.main-footer {
  padding: 30px;
  background-color: #333;
  color: #fff;
}

.footer-container {
  width: 1080px;
  margin: 0 auto;
}
