* {
  scroll-behavior: smooth;
}

button {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 50rem;
  color: white;
  background-color: orange;
  transition: background-color 500ms;
}

button:hover {
  background-color: darkred;
}

.top {
  background-color: aqua;
  height: 100vh;
}

#anchor-link {
  background-color: bisque;
  height: 100vh;
}
